#blog::after, #blog::before {
    content: '';
    display: block;
    height: 100px;
}
#blog .blog-heading {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}
#blog a {
    margin: 1.2rem 0;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    transition: all 0.3s ease-out;
}
.blog-img:hover {
    opacity: 0.8;
}
#blog .website-link {
    color: white;
    background-color: rgb(14, 191, 127);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px 30px;
    border-radius: 0%!important;
    min-width: 13%;
}
#blog .website-link:hover {
    background-color: #0b9966;
}

/* remove button's outline when it is clicked */
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }