/* CSS for specification section */
#spec h2 {
    font-family: 'Bebas Neue', cursive;
    margin: 0 0 2.5rem 0;
}
#spec .jumbotron {
    background-color: white;
}
#spec p {
    color: rgb(104, 104, 104);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 0;
}
.insta-link {
    text-transform: uppercase;
    text-decoration: underline;
    color: rgb(14, 191, 127);
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}
.insta-link:hover {
    color: rgb(11, 168, 90);
}
.circle {
    text-decoration: none;
    top: 300px;
    left: 434px;
    display: block;
    position: absolute;
    background: rgb(14, 191, 127);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: transform 0.4s ease-out;
}
.circle:hover {
    background-color: #0b9966;
    text-decoration: none;
    color: white;
}
#circle-2 {
    top: 40px;
    left: 534px;
}
#circle-3 {
    top: 50px;
    left: 896px;
}
#circle-4 {
    top: 350px;
    left: 910px;
}
#circle-5 {
    top: 383px;
    left: 610px;
}

/* Customize the tooltip */
.tooltip-inner {
    transition: translateY 1s ease-out!important;
    max-width: 180px!important;
    padding: 15px 10px!important;
    line-height: 1.4;
    border-radius:.25rem;
    text-transform: uppercase;
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    color:black!important;
    background-color:#f2f2f2!important;
    transform: translateY(10%);
}
@media (max-width: 1800px) {
    .circle {
        display: none;
    }
}
